
<div class="row mt-3">
    <div class="col-sm">
        <h3 class="text-center">Eventos da FEUP</h3>
        <form action="/" method="POST">
            <div class="form-group">
                <input type="text" class="form-control input-sm" name="nome" placeholder="Insira o seu nome">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Pesquisar</button>
            </div>
        </form>
    </div>
</div>